<html>
    <body>
        <h1>Area of a <i><%= answer.shape %></i> having length of <i><%= answer.length %></i> =
            <i><%= answer.length * answer.length %></i>
        </h1>
    </body>
</html>